body{
    font-family: Noto Sans TC;
}



/* <!-- 第二欄 --> */
.banner {
    width: 100%;
    height: 180px;
    background-color: #ccc;
    background: linear-gradient(115deg, #F8C747 50%, transparent 50%) left center / 100% 100%,
        url(./pic/Introduction/introduction_banner.svg) right center / auto 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.banner-txt {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.banner-txt-cht, .banner-txt-eng{
    max-width: 500px;
    text-align: center;
}
.banner-txt-cht{
    margin: 12px 0 8px 0;
    padding: 10px 0;
}
.banner-txt-eng{
    margin: 12px 0 8px 0;
    padding: 10px 0;
}

.banner-txt-cht{
    margin-top: 20px;
}
.banner-txt-cht h2 {
    font-weight: 800;
    font-size: 28px;
}
.banner-txt-eng{
    margin-top: -20px;
}
.banner-txt-eng p {
    font-size: 40px;
    font-family: lobster;
    font-weight: 900;
    color: #e78600;
    letter-spacing: 6px;
}

@media only screen and (max-width: 768px) {
    .banner {
    background: url(./pic/Introduction/introduction_banner_black.svg) center / auto 100%;
    }
    .banner-txt {
    align-items: center; 
    text-align: center; 
    }
    .banner-txt-cht{
    margin: 30px 0 15px 0;
    }
    .banner-txt-cht h2 {
    font-size: 28px;
    color: #F8C747;
    }

    .banner-txt-eng p {
    font-family: lobster;
    letter-spacing: 6px;
    font-size: 40px;
    }
}



/* 第三欄 */
.meet_section{
    position: relative;
}
.meet-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px 0 50px 0;
}
.meet_path ul{
    display: flex;
    padding: 20px;
}
.meet_path ul li{
    padding: 4px 10px;
    position: relative;
}
.meet_path ul li a{
    font-size: 16px;
    color: #898888;
    text-decoration: none;
    font-family: Noto Sans TC;
    font-weight: 300;
}
.meet_path ul li + li::before{
    content: "/";
    color: #898888;
    position: absolute;
    left: 0;
}
@media only screen and (max-width: 768px) {
    .meet_path ul{
        display: none;
    }
}


/* <!-- 第四欄 --> */
.meet_circle {
    display: flex;
    justify-content: center; /* 讓所有圖片置中 */
    overflow-x: auto; /* 允許左右滾動 */
    -webkit-overflow-scrolling: touch; /* iOS 上流暢滾動 */
    padding: 30px 0; /* 調整內邊距 */
}
.meet_circle div:first-child img {
    filter: brightness(100%);
}
.meet_circle div {
    width: 10%; /* 調整圖片和外框的寬度 */
    padding: 3px; /* 添加外框的 padding */
    margin: 0 10px; /* 調整外框的間距 */
}
.meet_circle div img {
    width: 100%;
    filter: brightness(40%);
}
.meet_circle_1 {
    outline: 6px dotted #F8C747;
    border-radius: 100px;
}
.meet_circle_1, .meet_circle_2, .meet_circle_3, .meet_circle_4, .meet_circle_5, .meet_circle_6:hover{
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    /* 在大屏幕上恢復原來的排版 */
    .meet_circle {
        justify-content: space-evenly;
        padding: 30px 60px 10px 60px;
        overflow-x: initial; /* 恢復滾動效果 */
    }
}


/* 第五欄 */
.photo_section{
    position: relative;
}
.photo_container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.photo_row{
    display: flex;
    justify-content: center;
    padding: 60px 20px 160px 20px;
    margin: 20px;
}
.photo_pic{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.photo_pic .photo_pic_big{
    max-width: 560px;
    width: 100%;
    margin-bottom: 12px;
}
.photo_pic .photo_pic_big img{
    width: 100%;
    vertical-align: middle;
}
.photo_pic .photo_pic_small {
    display: flex;
    justify-content: center;
    max-width: 100px;
    width: 100%;
    height: 100px;
}
.photo_pic .photo_pic_small img{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin: 0 6px;
}
.photo_pic_small .photo_pic_small1, .photo_pic_small2, .photo_pic_small3, .photo_pic_small4, .photo_pic_small5{
    margin: 0 6px;
}
.photo_pic_small .photo_pic_small2 img, .photo_pic_small3 img, .photo_pic_small4 img, .photo_pic_small5 img{
    filter:brightness(40%)
}
.photo_pic_small .photo_pic_small1{
    border-bottom: 6px solid #F8C747;
}
.photo_txt{
    max-width: 500px;
    width: 100%;
    padding: 40px 20px;
}
.photo_txt_title{
    margin: 20px 0;
}
.photo_txt_title p{
    font-size: 20px;
    font-weight: 600;
}
.photo_txt_con .photo_txt_con_type{
    margin: 20px 0;
}
.photo_txt_con .photo_txt_con_type p{
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}
.photo_txt_con .photo_txt_con_intr p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 2px;
}
.photo_intr1, .photo_intr2, .photo_intr3, .photo_intr4, .photo_intr5, .photo_intr6{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
}
.photo_pic_small img:first-child {
    filter: brightness(100%);
}

.photo_pic_small img:not(:first-child) {
    filter: brightness(40%);
}
.photo_pic_small img:hover{
    cursor: pointer;
}
.photo_row .photo_intr2, .photo_intr3,.photo_intr4, .photo_intr5, .photo_intr6{
    display: none;
}
@media screen and (max-width: 1024px) {
    .photo_pic .photo_pic_big{
        margin-bottom: 0px;
    }
    .photo_pic .photo_pic_small img{
        width: 56%;
    }
}
@media screen and (max-width: 768px) {
    .photo_row .photo_intr1,
    .photo_row .photo_intr2,
    .photo_row .photo_intr3,
    .photo_row .photo_intr4,
    .photo_row .photo_intr5,
    .photo_row .photo_intr6 {
        display: flex;
        flex-direction: column;
    }
    .photo_row .photo_intr2,
    .photo_row .photo_intr3,
    .photo_row .photo_intr4,
    .photo_row .photo_intr5,
    .photo_row .photo_intr6 {
        display: none;
    }
    .photo_pic .photo_pic_big{
        width: 100%;
        margin: 6px 40px 6px 0;
    }
    .photo_pic .photo_pic_small{
        margin-right: 36px;
    }
    .photo_pic .photo_pic_small img{
        width: 76%;
    }
    .photo_txt_title, .photo_txt_con_type{
        margin-top: -20px;
    }
}


